html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.card__image {
    list-style: none;
    padding-right: 10px;
}

.stats {
    display: flex;
    justify-content: center;
}

.stats-item {
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 10px;
}

.search-form {
    text-align: center;
}

.search-form input {
    width: 300px;
    height: 40px;
    border: 2px solid #8f638f;
    border-radius: 5px 5px 5px 5px;
    text-indent: 6px;
}

.button {
    text-align: center;
}

.button-loader {
    background-color: #e9b5e93d;
    border-color: #8f638f;
    border-radius: 5px 5px 5px 5px;
    width: 115px;
    height: 35px;
    font-size: 16px;
    display: none;
}

.button-loader:hover {
    cursor: pointer;
}

.visible {
    display: inline-block;
}